
body {
    text-align: center;
    padding: 20%;
    background-color: papayawhip;
}

.answer {
    background-color: aquamarine;
    border-radius: 10px;
}

.go-buttons {
    background-color: burlywood;
    border-radius: 5px;
}

.hide {
    display: none;
}

.timer {
    color:palevioletred
}

div {
    padding: 8%;
}

p {
    padding: 3%;
}